.carousel img {
    height: 670px;
    object-fit: cover;
}

.card-wrapper {
    margin: 100px 0px 76px;
}

.card-wrapper .card {
    margin-bottom: 24px;
}

.card-wrapper .card-img-top {
    height: 200px;
    object-fit: cover;
}

@media screen and (max-width: 990px) {
    .carousel img {
        height: auto;
        object-fit: cover;
    }
}

@media screen and (max-width: 575px) {
    .card-wrapper .card-img-top {
        height: auto;
        object-fit: cover;
    }
}



