.center-logo{
    text-align: center;
}

#feedback {
    max-width: 60%;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    border: solid 1px #f1f1f1;
    background: #fbfbfb;
    box-shadow: #e6e6e6 0 0 4px ;
    border-radius: 0.25rem;
  }
  
  @media (max-width: 720px) {
    #feedback{
      max-width: 90%;
    }
  }
  
  @media (max-width: 500px) {
    #feedback{
      padding: 10px;
    }
  }
  
  #fh2{
   padding: 2px 15px;
   color: rgb(255, 172, 28);
   text-align: center;
   
   
  }
  
  @media (max-width: 400px) {
    #fh2{
      font-size: 20px;
    }
  }
  
  
  footer{
    background-color: rgb(182, 182, 182);
    line-height: 30px;
    text-align: center;
    margin-top: 40px;
    font-size: small;
    padding-bottom: 0%;
    width: 100%;
}

  
  .pinfo {
   margin: 8px auto;
   font-weight: bold;
   line-height: 1.5;
   color: #0d0d0d;
  }
  .form-group {
    margin-bottom: 1rem;
  }
    
  .form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    font-weight: bold;
    color: #6C6262;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
  
  .form-control:focus {
    color: #696060;
    background-color: #fff;
    border-color: #5cb3fd;
    outline: none;
  }
  
  .form-control:disabled, .form-control[readonly] {
    background-color: red;
    opacity: 1;
  }
  
  .form-control:disabled {
    cursor: not-allowed;
  }
  
  select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
  }
  
  
  .form-control-file,
  .form-control-range {
    display: block;
  }
  
  .group {
    position: relative;
    display: flex;
    width: 100%;
  }
  
  .group .form-control {
    position: relative;
    z-index: 2;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }
  
  .group .form-control:focus, .group .form-control:active, .group .form-control:hover {
    z-index: 3;
  }
  
  .addon,
  .group-btn,
  .group .form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  }
  
  
  .addon,
  .group-btn {
    white-space: nowrap;
    vertical-align: middle;
  }
  
  .addon {
    width: 45px;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.25;
    color: #2e2e2e;
    text-align: center;
    background-color: #eceeef;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
  
  .addon.form-control-sm,
  .group-sm > .addon,
  .group-sm > .group-btn > .addon.btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
  }
  
  .addon.form-control-lg,
  .group-lg > .addon,
  .group-lg > .group-btn > .addon.btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
  }
  
  .addon input[type="radio"],
  .addon input[type="checkbox"] {
    margin-top: 0;
  }
  
  
  .btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
  }
  
  .btn:focus, .btn:hover {
    text-decoration: none;
  }
  
  .btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
  }
  
  .btn.disabled, .btn:disabled {
    cursor: not-allowed;
    opacity: .65;
  }
  
  .btn:active, .btn.active {
    background-image: none;
  }
  
  a.btn.disabled,
  fieldset[disabled] a.btn {
    pointer-events: none;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
  }
  
  .btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    background-color: #0275d8;
    border-color: #0275d8;
  }
  
  .btn-primary:active, .btn-primary.active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #025aa5;
    background-image: none;
    border-color: #01549b;
  }
  